<html doctype='html'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type='text/css'>
    #admin-playlist-blacklist {
        width: 800px;
        margin: 0px auto;
    }
    #admin-playlist-blacklist .list-group-item .checkbox {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    </style>
    <div id='admin-playlist-blacklist'>
        <div class='page-header'>
            <h2>Edit Playlist: <small>{{ playlist.title }}</small></h2>
        </div>

        <ol class="breadcrumb">
            <li><a href="../../playlist">Playlists</a></li>
            <li class="active">Edit</li>
        </ol>

        <div class='page-header'>
            <h3>Playlist Cover</h3>
        </div>

        <form method='POST' enctype='multipart/form-data'>
            <div class="panel panel-default">
                {% if mapping.album_art %}
                    <img src='{{ mapping.album_art }}' width='200px' height='200px' />
                {% endif %}
                <div class="panel-body">
                    <div class='form-group'>
                        <label for='logo'>Logo</label>
                        <input type='file' id='logo' name='logo' />
                        <p class='help-block'>Logo must be: png, jpg, jpeg or gif</p>
                    </div>
                    <button type='submit' class='btn btn-default'>
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
                </div>
            </div>
        </form>

        <div class='page-header'>
            <h3>Blacklist</h3>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Select items below in order to avoid syncing them to SoundCloud.
            </div>
        </div>

        <form method='POST'>
            <ul class="list-group">
            {% for item in playlist['items'] %}
            <li class="list-group-item">
                <div class='checkbox'>
                <label>
                    <input type='checkbox' name='blacklisted[]' value='{{ item.snippet.resourceId.videoId }}' {% if item.is_blacklisted %}checked='checked'{% endif %} />
                    {{ item.snippet.title }}
                </label>
                </div>
            </li>
            {% endfor %}
            </ul>
        <button type='submit' class='btn btn-default'>Blacklist Selected Items</button>
        </form>
    </div>
</html>

