<html doctype='html'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type='text/css'>
    #admin-login {
        width: 800px;
        margin: 20px auto;
        background-color: #efefef;
        border-radius: 15px;
        padding: 20px;
    }
    </style>
    <div id='admin-login'>
        <form method='POST'>
            <div class='form-group'>
                <label for='username'>Username</label>
                <input type='text' class='form-control' name='username' placeholder='Username' />
            </div>
            <div class='form-group'>
                <label for='password'>Password</label>
                <input type='password' class='form-control' name='password' />
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
</html>
